@section styles{<link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />}



<div class="form-container">
    <div class="form">
        <span class="heading">Bizimle İletişime Geçin</span>
        <input placeholder="isim soyisim" type="text" class="input">
        <input placeholder="email" id="mail" type="email" class="input">
        <textarea placeholder="merhaba" rows="10" cols="30" id="message" name="message" class="textarea"></textarea>
        <div class="button-container">
            <div class="send-button">Gönder</div>
            <div class="reset-button-container">
                <div id="reset-btn" class="reset-button">Sıfırla</div>
            </div>
        </div>
    </div>
</div>